# dashboard
*.sage-jupyter2
*.sage.py
__pycache__
*.egg-info
dashboard/build
dashboard/dist
viewer.zip

# demo bank
demo-bank/**/generated
demo-bank/assets/bank.json
demo-bank/assets/cache.zip
demo-bank/assets/.cache
demo-bank/docs

# default new bank
new-checkit-bank
