# dashboard
*.sage-jupyter2
*.sage.py
__pycache__
*.egg-info
dashboard/build
dashboard/dist
viewer.zip

# demo bank
demo-bank/**/generated
demo-bank/assets/bank.json
demo-bank/dashboard.ipynb
demo-bank/docs